{% extends "base.html" %}

{%block content%}
         <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Beku is a platform where NGOs and the public can connect to collectively contribute to social good. We at Beku believe that as citizens of this country it is our responsibility to take care of those in need. </h2>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header -->
<br>
<br>
<br>                        

                        <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                   <b> <h3>"Kindness is a gift everyone can afford to give" </h3></b>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header -->
                        <br>
                        <br>

                        <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                   <b> <h3>"We rise by lifting others" </h3></b>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header -->
                        
<br>
<br>

<div class="container">
            <div class="row">
                <div class="col-12">
                  <b>  <h3>"We at Beku believe in random acts of kindness" </h3></b>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header -->
                        
<br>
<br>
<br>

<div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Using this platform, you can donate to various organizations, start a fundraiser for your organization or become a volunteer at any NGO. You can also join the Beku team! </h3>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header -->


    <div class="about-stats">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="circular-progress-bar">
                        <div class="circle" id="loader_1">
                            <strong class="d-flex justify-content-center"></strong>
                        </div>

                        <h3 class="entry-title">Hard Work</h3>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="circular-progress-bar">
                        <div class="circle" id="loader_2">
                            <strong class="d-flex justify-content-center"></strong>
                        </div>

                        <h3 class="entry-title">Pure Love</h3>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="circular-progress-bar">
                        <div class="circle" id="loader_3">
                            <strong class="d-flex justify-content-center"></strong>
                        </div>

                        <h3 class="entry-title">Smart Ideas</h3>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="circular-progress-bar">
                        <div class="circle" id="loader_4">
                            <strong class="d-flex justify-content-center"></strong>
                        </div>

                        <h3 class="entry-title">Good Decisions</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>	
					
	
    

   




   

{%endblock%}


