{% extends "base.html" %}

{%block content%}

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Organizations associated with us</h1>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header -->

    <div class="portfolio-wrap">
        <div class="container">
            <div class="row portfolio-container">
                <div class="col-12 col-md-6 col-lg-4 portfolio-item">
                    <div class="portfolio-cont">
                        <a href="#"><img src="/static/images/whywaste.jpg" alt="" style="width: 300px;height: 300px;"></a>

                        <h3 class="entry-title"><a href="#">Why Waste?</a></h3>
                        <h4>2017</h4>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 portfolio-item">
                    <div class="portfolio-cont">
                        <a href="#"><img src="/static/images/cry.jpg" alt="" style="width: 250px;height: 300px;"></a>

                        <h3 class="entry-title"><a href="#">CRY Foundation</a></h3>
                        <h4>2017</h4>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-5 portfolio-item">
                    <div class="portfolio-cont">
                        <a href="#"><img src="/static/images/adam.jpg" alt="" style="width: 300px;height: 300px;"></a>

                        <h3 class="entry-title"><a href="#">Adamya Chetana</a></h3>
                        <h4>2017</h4>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-5 portfolio-item">
                    <div class="portfolio-cont">
                        <a href="#"><img src="/static/images/youth.jpg" alt="" style="width: 300px;height: 300px;"></a>

                        <h3 class="entry-title"><a href="#">Youth for change</a></h3>
                        <h4>2018 </h4>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 mt-48 portfolio-item">
                    <div class="portfolio-cont">
                        <a href="#"><img src="/static/images/shishu.jpg" alt="" style="width: 250px;height: 300px;"></a>

                        <h3 class="entry-title"><a href="#">Shishu Nivas</a></h3>
                        <h4>2018</h4>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mt-48 portfolio-item">
                    <div class="portfolio-cont">
                        <a href="#"><img src="/static/images/bosco.jpg" alt="" style="width: 350px;height: 300px;"></a>

                        <h3 class="entry-title"><a href="#">Bosco organization</a></h3>
                        <h4>2018</h4>
                    </div>
                </div>

                

                
            </div>

            
        </div>
    </div>

 
{%endblock%}


